#World Config
#Sat Jun 27 15:40:06 EEST 2015
initialFishesCount=12
sharkLifeTime=110
fishLifeTime=70
sharkPregnantPeriod=55
fishMaxReproductives=3
sharkMaxHungerTime=18
sharkSpeed=3
sharkMaxDepth=5
worldMaxDepth=70
fishSpeed=1
worldWidth=180
worldHeight=180
fishPregnantPeriod=28
sharkMaxReproductives=3
fishMaxDepth=8
initialSharkesCount=9
