#World Config
#Wed Jul 15 22:12:41 EEST 2015
initialFishesCount=12
sharkLifeTime=48
fishLifeTime=39
sharkPregnantPeriod=22
fishMaxReproductives=3
sharkMaxHungerTime=8
sharkSpeed=3
sharkMaxDepth=5
worldMaxDepth=70
fishSpeed=2
worldWidth=180
worldHeight=200
fishPregnantPeriod=8
sharkMaxReproductives=5
fishMaxDepth=4
initialSharkesCount=10
